/*--Global styling--*/
body {
    background-image: url('../image/dust_scratches.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;

    
}

h1{
    font-size:3em;
  
}
h2{
    font-size: 2em;
}

p{
    line-height: 1.5em;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:16px;
    
}

/*-- Colors are from adobe kuler --*/


a:hover{
    background-color: #3E0ce8;
    color:#ffffff;
    text-decoration: none;
}

 a:visited{
    color: #ff0000;
    text-decoration: none;
    
}
a:active{
    color: #7fff0d;
    text-decoration: none;
}



/*--Styling the NavBar--*/

.navbar{
    
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
   
}

nav div:first-of-type{
    max-width:960px;
    margin:0px auto;
    padding-left:0px;
    padding-right:0px;
    
}
.navbar h1{
    margin:0px;
    background-color: #4aaaa5;
    background:cover;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    font-weight: bold;
    padding: 20px 20px 20px 25px;
}
.navbar ul{
    padding-top:15px;
    width:100%;
    
    
}
.navbar li{
    font-weight:bold;
    padding:0 10px;
}
.navbar li:nth-child(2){
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.navbar li a{
    padding:15px 0px;
    text-align: center;
}

/*--Styling the MainSection--*/

/*--Marginalization and Postioning the Main Content --*/
main {
    max-width:960px;
    margin:0px auto;
}
main .head .col-xs-12{
    padding-right:0px;
}
/*main div:first-of-type{
  
    margin:0px;
}*/

/*--Styling and postioning the section (left part)--*/
main .content{
    background-color:#ffffff;
    border: 2px solid #dddddd;
    padding:15px;
    margin-bottom:15px;
   
}
main .content h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    border-bottom: 3px solid #cccccc;
    font-weight: bold;
    padding-bottom:15px;
    margin-bottom: 30px;
}

main img:first-of-type{
    padding-left:0px;

}
main .contentf p{
    padding-left:10px;
}


/*--Styling and postioning the child element of side (right side)--*/
main .sidebar{
    background-color:#ffffff;
    border: 2px solid #dddddd;
    padding-bottom: 10px;
    min-height: 200px;
    
}
main .sidebar h2{
    
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    border-bottom: 3px solid #cccccc;
    font-weight: bold;
    padding-bottom:15px;
    text-align: center;
    
}
    
main .sidebar ul{
    list-style-type: none;
    width:100%;
  
}

/*--Styling and postioning for the contact page--*/

form{
    margin-bottom:10px;
}
form label{
    font-weight: bold;
}
form button:first-of-type{
    background-color: #4aaaa5;
    width: 120px;
    color: #ffffff;
    text-align: center;
}

/*--Styling and postioning for the portfolio page--*/
.content figure{
    margin: 10px 0px;
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
}
.content .row{
    margin-left:0px;
    margin-right:0px;
}

figcaption {
    position: absolute;
    margin-top: -80px;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    background-color: #4aaaa5;
    width: 91.5%;
    padding: 15px 0px;
    
  }
  
/*--Footer --*/
footer{
    background-color: #666666;
    width:100%;
    text-align: center;
    padding: 40px 0px 5px;
    border-top: 6px solid #4aaaa5;
    color: #777777;
    margin: 0px;
    color: #cccccc;
    position: sticky;
    bottom: 0px;
    margin-top:20px;
}
@media(max-width:767px){

    nav div:first-of-type{
        min-width:320px;
        margin:0px;
        padding-left:0px;
        
    }
    main .contentf p{
        padding-top:10px;
        padding-left:0px;
        line-height: 2em;

    }
    main div:first-of-type{
        margin-left: 0px;
        margin-right: 0px;
    }
    .p1{
        line-height: 2em;
    }
    figcaption{
        width:91.5%;
    }
}
@media(max-width:767px){
    figcaption{
        width:90%;
    }
}